<app-navbar />

<section id="home">
    <router-outlet id="home" />
</section>

<app-about/>
<app-client/>
<app-work/>
<app-service />
<!-- <app-testimonial /> -->
<!-- <app-blog /> -->
<app-contact />
<app-footer />

<a appScroll href="javascript: void(0);" (click)="topFunction()" id="back-to-top"
    class="back-to-top rounded text-center align-items-center justify-content-center fs-5" style="display: block;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up icons">
        <polyline points="18 15 12 9 6 15"></polyline>
    </svg>
</a>