<section class="bg-half-100 about-section bg-secondary" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xxl-12 text-center">
                <div class="title-section">
                    <h1 class="title-sub-heading mb-20">resumo</h1>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <!-- Start Col -->
            <div class="col-xxl-12">
                <div class="about-tab-section">
                    <div class="about-tab">
                        <ul ngbNav #nav="ngbNav" class="nav nav-pills about-tab-pills mb-60" id="pills-tab"
                            role="tablist">
                            <!-- Tab menu -->
                            <li ngbNavItem class="nav-item custom-nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about"
                                    aria-selected="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-inbox d-inline-block">
                                        <polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
                                        <path
                                            d="M5.45 5.11 2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z" />
                                    </svg>
                                    <span class="ms-1 d-none d-sm-inline-block">sobre mim</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel"
                                        aria-labelledby="pills-home-tab" tabindex="0">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-6 col-sm-12 col-md-6">
                                                <div class="about-tab-content">
                                                    <h4 class="title mt-4">Sobre</h4>
                                                    <p class="para-desc text-muted mx-auto mb-0 mt-3">Desenvolvedor Full Stack com mais de 6 anos de experiência em construção de aplicações web escaláveis utilizando .NET, Angular e SQL Server. Tenho forte atuação em projetos críticos, aplicando padrões como Clean Architecture, DDD e SOLID para garantir performance, manutenção e qualidade de código.
                                                    </p>
                                                    <p class="para-desc text-muted mx-auto mb-0 mt-3">Atualmente, atuo em um sistema governamental robusto, liderando iniciativas de modernização da stack e migrações estratégicas (Angular 18, .NET 6). Trabalho com foco em excelência técnica, experiência do usuário e entregas de alto impacto, aliando eficiência com escalabilidade.</p>
                                                    <p class="para-desc text-muted mx-auto mb-0 mt-3">Sou movido por desafios e pela evolução contínua. Estou em constante aprendizado, investindo em certificações e aprimorando minha atuação em DevOps, testes automatizados e Cloud (Azure). Meu GitHub é um reflexo do que acredito: soluções práticas, bem escritas e de alto valor técnico.</p>

                                                    <ul class="about-data has_text_move_anim ps-0 mt-5">
                                                        <li>Nome <span>:</span> <strong>Igor Marques do Couto</strong></li>
                                                        <li>Nacionalidade <span>:</span> <strong>Brasileiro</strong></li>
                                                        <li>Telefone <span>:</span> <strong>+55 11 950388006</strong></li>
                                                        <li>Email <span>:</span> <strong>igormcouto10&#64;gmail.com</strong>
                                                        </li>
                                                        <li>Experiência <span>:</span> <strong>6+ years</strong></li>
                                                        <li>Freelance <span>:</span> <strong>Disponível</strong></li>
                                                        <li>LinkedIn <span>:</span> <strong><a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/igor-marques-6314b5177/">Link</a></strong>
                                                        </li>
                                                        <li>Idiomas <span>:</span> <strong>Português, Inglês</strong>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-12 col-md-6">
                                                <div class="developer-about__img">
                                                    <div class="about-image">
                                                        <img style="border-radius: 200px;" src="assets/images/igorProf2.jpg" alt="About Me"
                                                            class="about-me img-fluid">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem class="nav-item custom-nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="pills-profile-experience" data-bs-toggle="pill"
                                    data-bs-target="#pills-experience" type="button" role="tab"
                                    aria-controls="pills-experience" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-compass d-inline-block">
                                        <circle cx="12" cy="12" r="10" />
                                        <polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76" />
                                    </svg>
                                    <span class="ms-1 d-none d-sm-inline-block">Experiência</span>
                                </button>
                                <ng-template ngbNavContent>

                                    <div class="tab-pane fade show active" id="pills-experience" role="tabpanel"
                                        aria-labelledby="pills-profile-experience" tabindex="0">
                                        <div class="row gy-4">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">Atual</h6>
                                                        </div>
                                                        <h4 class="title">Desenvolvedor Sênior FullStack</h4>
                                                        <h6 class="expe-company">Montreal Oficial</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0">Atuei como líder técnico na migração do frontend para Angular 18, 
                                                            obtendo ganhos de performance superiores a 30%. Implantei práticas como SOLID, Clean Architecture e testes automatizados, 
                                                            reduzindo falhas em produção em 45%. Conduzi a evolução contínua da stack (.NET 6 e TypeScript) com foco em escalabilidade 
                                                            e mantive sistemas críticos governamentais com alto impacto para milhões de contribuintes.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">2022 -2023</h6>
                                                        </div>
                                                        <h4 class="title">Desenvolvedor Pleno</h4>
                                                        <h6 class="expe-company">Keeggo</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0">Atuei com desenvolvimento de uma aplicação corporativa
                                                            para controle de projetos e pessoas. Neste projeto utilizamos tecnologias como o .NET Core 3.0, Dapper e Entity
                                                            Framework, Angular 8, Windows
                                                            Services com RabbitMQ e SQL Server.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">2019 -2022</h6>
                                                        </div>
                                                        <h4 class="title">Desenvolvedor Júnior</h4>
                                                        <h6 class="expe-company">RSI Informática</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Aprofundei meus conhecimentos em desenvolvimento de software, 
                                                            ampliando minha atuação em projetos com arquiteturas mais robustas e modernas. 
                                                            Iniciei a criação de APIs REST utilizando .NET Core e comecei a trabalhar no desenvolvimento de 
                                                            interfaces com Angular 8. Durante esse período, tive contato com melhores práticas de 
                                                            arquitetura de software, padrões de projeto e organização de código, contribuindo para a evolução 
                                                            técnica dos sistemas da empresa.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">2017 -2019</h6>
                                                        </div>
                                                        <h4 class="title">Desenvolvedor Trainee</h4>
                                                        <h6 class="expe-company">RSI Informática</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Iniciei minha trajetória profissional desenvolvendo funcionalidades pequenas
                                                            em sistemas internos da empresa, adquirindo uma base sólida em desenvolvimento de software. Atuei em projetos 
                                                            utilizando .NET Framework (3.0 a 4.0), ASP.NET Web Forms e ASP.NET MVC, participando ativamente de manutenções 
                                                            e evoluções de sistemas legados com as tecnologias da época.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem class="nav-item custom-nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="pills-contact-education" data-bs-toggle="pill"
                                    data-bs-target="#pills-education" type="button" role="tab"
                                    aria-controls="pills-education" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-shield d-inline-block">
                                        <path
                                            d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z" />
                                    </svg>
                                    <span class="ms-1 d-none d-sm-inline-block">Educação</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="tab-pane fade show active" id="pills-education" role="tabpanel"
                                        aria-labelledby="pills-contact-education" tabindex="0">
                                        <div class="row">
                                            <div class="row align-items-center">
                                                <div class="col-xxl-12">
                                                    <div class="title-section" style="padding-top: 30px;">
                                                        <h1 class="title-sub-heading mb-20">Formação acadêmica</h1>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">2016 - 2019</h6>
                                                        </div>
                                                        <h4 class="title">Sistemas de Informação</h4>
                                                        <h6 class="expe-company">Universidade de Mogi das Cruzes</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0">Formação básica em princípios de ciência da computação e desenvolvimento de software.
                                                            Aprendi fundamentos de programação, estruturas de dados, algoritmos e bancos de dados. 
                                                            Durante o curso, participei de projetos práticos que me permitiram aplicar esses conceitos em cenários reais.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">2020 -2022</h6>
                                                        </div>
                                                        <h4 class="title">Sistemas de Informação</h4>
                                                        <h6 class="expe-company">Centro Universitário FIEO</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0">Iniciei meus conceitos em desenvolvimento de software, 
                                                            aprendendo linguagens de programação como C# e Java, além de fundamentos de banco de dados e estruturas de dados.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row align-items-center">
                                                <div class="col-xxl-12">
                                                    <div class="title-section" style="padding-top: 30px;">
                                                        <h1 class="title-sub-heading mb-20">Licenças e certificados</h1>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">Abr - 2025</h6>
                                                        </div>
                                                        <h4 class="title">Angular v17</h4>
                                                        <h6 class="expe-company">Udemy</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Aprendendo Angular v17: do básico ao avançado, 
                                                            incluindo RxJS, TypeScript e práticas recomendadas de desenvolvimento. 
                                                            O curso abrange desde a criação de componentes até a integração com APIs RESTful, 
                                                            preparando-me para construir aplicações web modernas e escaláveis.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">Jun - 2022</h6>
                                                        </div>
                                                        <h4 class="title">AZ-900: Microsoft Azure Fundamentals</h4>
                                                        <h6 class="expe-company">Alura</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Este curso fornece uma
                                                            introdução abrangente ao Microsoft Azure, cobrindo conceitos
                                                            fundamentais de nuvem, serviços Azure e melhores práticas de
                                                            implementação. Estou aprendendo a projetar soluções em nuvem
                                                            escaláveis e seguras, além de entender a arquitetura do Azure.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6" style="padding-top: 20px;">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">Nov - 2020</h6>
                                                        </div>
                                                        <h4 class="title">FullStack .NETCORE e Angular 8</h4>
                                                        <h6 class="expe-company">Udemy</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Este curso fornece uma
                                                            introdução abrangente ao desenvolvimento FullStack com .NET Core e Angular 8.
                                                            Aprendi a criar aplicações web modernas e escaláveis, utilizando as melhores práticas de desenvolvimento.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6" style="padding-top: 20px;">
                                                <div class="experience-area">
                                                    <div class="experience-item">
                                                        <div class="expe-year-section align-items-center d-flex mb-2">
                                                            <i class="bi bi-calculator-fill me-2"></i>
                                                            <h6 class="expe-year mb-0">Set - 2019</h6>
                                                        </div>
                                                        <h4 class="title">SQL</h4>
                                                        <h6 class="expe-company">SoftBlues</h6>
                                                        <p class="text-muted para-desc mx-auto mb-0 mt-3">Este curso fornece uma
                                                            introdução abrangente ao SQL, cobrindo conceitos fundamentais de bancos de dados relacionais, 
                                                            consultas SQL e manipulação de dados. Aprendi a projetar e implementar bancos de dados eficientes, 
                                                            além de otimizar consultas para melhorar o desempenho.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </ng-template>
                            </li>
                            <li ngbNavItem class="nav-item custom-nav-item" role="presentation">
                                <button ngbNavLink class="nav-link" id="pills-contact-skills" data-bs-toggle="pill"
                                    data-bs-target="#pills-skills" type="button" role="tab" aria-controls="pills-skills"
                                    aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-rocket d-inline-block">
                                        <path
                                            d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z" />
                                        <path
                                            d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z" />
                                        <path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0" />
                                        <path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5" />
                                    </svg>
                                    <span class="ms-1 d-none d-sm-inline-block">skills</span>
                                </button>
                                <ng-template ngbNavContent>
                                    <div class="tab-pane fade show active" id="pills-skills" role="tabpanel"
                                        aria-labelledby="pills-contact-skills" tabindex="0">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/C.png" class="img-fluid img-skill-edit"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">98%</h4>
                                                    <p class="skill-pare mx-auto mb-0">C#</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/SQL.png" class="img-fluid img-skill-edit"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">95%</h4>
                                                    <p class="skill-pare mx-auto mb-0">SQL</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/Angular.png" class="img-fluid img-skill-edit"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">95%</h4>
                                                    <p class="skill-pare mx-auto mb-0">Angular</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/6.png" class="img-fluid"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">96%</h4>
                                                    <p class="skill-pare mx-auto mb-0">HTML & CSS</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-md-0 mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/5.png" class="img-fluid"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">90%</h4>
                                                    <p class="skill-pare mx-auto mb-0">Javascript</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-md-0 mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/Azure.png" class="img-fluid img-skill-edit-dev-ops"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">85%</h4>
                                                    <p class="skill-pare mx-auto mb-0">Azure DevOps</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-md-0 mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/Git.png" class="img-fluid img-skill-edit"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">87%</h4>
                                                    <p class="skill-pare mx-auto mb-0">Git</p>
                                                </div>
                                            </div>

                                            <div class="col-lg-3 col-md-4">
                                                <div class="skill-area mb-md-0 mb-30">
                                                    <div class="skill-img">
                                                        <img src="assets/images/logo/Bitbucket.png" class="img-fluid img-skill-edit"
                                                            alt="Skill Icon">
                                                    </div>
                                                    <h4 class="skill-percentage">85%</h4>
                                                    <p class="skill-pare mx-auto mb-0">Bitbucket</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>

                        <!-- Tab content -->
                        <div class="tab-content" id="pills-tabContent" [ngbNavOutlet]="nav"> </div>
                    </div>
                </div>
            </div><!-- End col -->
        </div><!-- End row -->
    </div><!-- End container -->
</section>